{% trans_default_domain 'ZzChezZzortellBundle' %}

<header>
	<h1>
		{{ 'header.title.welcome_at' |trans }} 
		<br/><strong>{{ 'header.title.zzortell!' |trans }}</strong>
	</h1>
	<nav>
		<ul>
			<a href="{{ path('zz_chez_zz_index') }}" >
				<li {% if app.request.get('_route') == 'zz_chez_zz_index' %} class="selected" {% endif %} >
					{{ 'header.nav.chez_zz' |trans }}
				</li>
			</a>
			<a href="{{ path('zz_chez_zz_notebook') }}" >
				<li {% if 'zz_chez_zz_notebook' in app.request.get('_route') %} class="selected" {% endif %} >
					{{ 'header.nav.notebook' |trans }}
				</li>
			</a>
			<a href="{{ path('zz_chez_zz_articles') }}" >
				<li {% if app.request.get('_route') == 'zz_chez_zz_articles' %} class="selected" {% endif %} >
					{{ 'header.nav.articles' |trans }}
				</li>
			</a>
		</ul>
		<ul>
			<a href="{{ asset('bundles/zzchezzzortell/tetris/index.php') }}" ><li>{{ 'header.nav.tetris' |trans }}</li></a>
		</ul>
	</nav>
	<div class="media" >
		<a href="mailto:remi.blaise@gmx.fr" class="_img" title="{{ 'header.media.mail' |trans }}" >
			<span class="fa-stack fa-2x" >
				<i class="fa fa-circle fa-stack-2x" ></i>
				<i class="fa fa-envelope fa-stack-1x fa-inverse" ></i>
			</span>
		</a>
		<a href="https://www.facebook.com/remi.blaise.78" class="_img" title="{{ 'header.media.fb' |trans }}" >
			<span class="fa-stack fa-2x" >
				<i class="fa fa-circle fa-stack-2x" ></i>
				<i class="fa fa-facebook fa-stack-1x fa-inverse" ></i>
			</span>
		</a>
		<a href="https://github.com/Zzortell" class="_img" title="{{ 'header.media.github' |trans }}" >
			<img src="{{ asset('bundles/zzchezzzortell/images/octocat.png') }}" alt="{{ 'header.media.github' |trans }}" />
		</a>
	</div>
</header>