{% trans_default_domain 'ZzChezZzortellBundle' %}

<header>
	<h1>
		{{ 'header.title.welcome_at' |trans }}
		<br/><strong>{{ 'header.title.zzortell!' |trans }}</strong>
	</h1>
	<nav>
		<ul>
			<a href="{{ path('zz_chez_zz_index') }}" >
				<li {% if app.request.get('_route') == 'zz_chez_zz_index' %} class="selected" {% endif %} >
					{{ 'header.nav.chez_zz' |trans }}
				</li>
			</a>
			<a href="{{ path('zz_chez_zz_notebook') }}" >
				<li {% if 'zz_chez_zz_notebook' in app.request.get('_route') %} class="selected" {% endif %} >
					{{ 'header.nav.notebook' |trans }}
				</li>
			</a>
			<a href="{{ path('zz_chez_zz_articles') }}" >
				<li {% if app.request.get('_route') == 'zz_chez_zz_articles' %} class="selected" {% endif %} >
					{{ 'header.nav.articles' |trans }}
				</li>
			</a>
		</ul>
		<ul>
			<a href="{{ asset('bundles/zzchezzzortell/tetris/index.php') }}" >
				<li>{{ 'header.nav.tetris' |trans }}</li>
			</a>
		</ul>
	</nav>
	<div class="plus" >
		{% if app.request.get('_route') == 'zz_chez_zz_index' %}
			<div class="lang" >
				{% for lang in [ 'fr', 'en' ] %}
					{% if app.request.get('_locale') != lang %}
						<a href="{{ path('zz_chez_zz_index', { '_locale': lang }) }}" class="_img"
						   title="{{ ('header.lang.' ~ lang) |trans }}" >
							<img src="{{ asset('bundles/zzchezzzortell/images/' ~ lang ~ '.png') }}"
								 alt="{{ ('header.lang.' ~ lang) |trans }}" />
						</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		{{ include ('ZzChezZzortellBundle::media.html.twig') }}
	</div>
</header>
