{% trans_default_domain 'ZzChezZzortellBundle' %}

<div class="media" >
	<a href="mailto:remi.blaise@gmx.fr" class="_img" title="{{ 'media.mail' |trans }}" target="_blank" >
		<span class="fa-stack fa-2x" >
			<i class="fa fa-circle fa-stack-2x" ></i>
			<i class="fa fa-envelope fa-stack-1x fa-inverse" ></i>
		</span>
	</a>
	<a href="https://www.facebook.com/remi.blaise.78" class="_img" title="{{ 'media.fb' |trans }}" target="_blank" >
		<span class="fa-stack fa-2x" >
			<i class="fa fa-circle fa-stack-2x" ></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse" ></i>
		</span>
	</a>
	<a href="https://github.com/Zzortell" class="_img" title="{{ 'media.github' |trans }}" target="_blank" >
		<img src="{{ asset('bundles/zzchezzzortell/images/octocat.png') }}" alt="{{ 'media.github' |trans }}" />
	</a>
</div>