{% extends 'ZzChezZzortellBundle::layout.html.twig' %}

{% block title %}{{ status_text }} - {{ parent () }}{% endblock %}

{% block stylesheets %}
	{{ parent () }}
	{% stylesheets 'bundles/zzchezzzortell/css/error.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}


{% block body %}
{% spaceless %}
    {{ include ('ZzChezZzortellBundle::header.html.twig') }}
    <section>
        <div class="h1" >
            <i class="fa fa-exclamation-triangle"></i>
            <h1>
                Erreur {{ status_code }} : <br/>{{ status_text }}
            </h1>
        </div>
        
        {% block sub_title %}
            <h2>
                Une erreur est survenue.
            </h2>
        {% endblock %}
        
        {% block details %}
            <p>
                Désolé, la page (ou la ressource) demandée n'a pas pu être servie.
            </p>
            <p>
                Il est possible que vous ayez rencontré un bug.
                <br/>Si vous avez repéré un bug, merci de m'avertir à l'adresse :
                <a href="mailto:remi.blaise@gmx.fr" title="Rémi Blaise" >remi.blaise@gmx.fr</a>.
            </p>
        {% endblock %}
        
        <p>
            Vous pouvez à présent :
        </p>
        <ul>
            {% if app.request.server.get('HTTP_REFERER') %}
                <li><a href="{{ app.request.headers.get('referer') }}" >Retourner à la page précédente</a></li>
            {% endif %}
            <li><a href="{{ path('zz_chez_zz_index') }}" >Retourner à la page d'accueil</a></li>
        </ul>
    </section>
{% endspaceless %}
{% endblock %}
