{% extends 'ZzChezZzortellBundle::layout.html.twig' %}

{% trans_default_domain 'ZzChezZzortellBundle_index' %}

{% block headers %}<meta name="viewport" content="width=552" />{% endblock %}

{% block stylesheets %}
	{{ parent () }}
	{% stylesheets 'bundles/zzchezzzortell/css/index.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block js_lib %}
	{{ parent () }}
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}
{% block javascripts %}
	{{ parent () }}
	<script src="{{ asset('bundles/zzchezzzortell/js/dynamic.js') }}" type="text/javascript" ></script>
{% endblock %}


{% block body %}
{% autoescape false %}
	<div id="intro_container" >{% spaceless %}
		{{ include ('ZzChezZzortellBundle::header.html.twig') }}
		<section id="author">
			<div class="author_column" >
				<h1>{{ 'author.title' |trans }}</h1>
				<article>
					<h2>{{ 'author.who.title' |trans }}</h2>
					<p class="no_indent no_justify" >
						{{ 'author.who.p0' |trans }}
					</p>
					<p class="no_indent" >
						{{ 'author.who.p1' |trans }}
					</p>
					<p>
						{{ 'author.who.p2' |trans }}
					</p>
					<p>
						{{ 'author.who.p3' |trans }}
					</p>
				</article>
				
				<article id="contact" >
					<h2>{{ 'author.contact.title' |trans }}</h2>
					<p class="no_indent" >
						{{ 'author.contact.p' |trans }}
					</p>
				</article>
			</div>
			<div class="author_column" >
				<article id="skills" >
					{% macro img ( name, link, class ) %}
					{% autoescape false %}
						{% if link %}<a href="{{ link }}" >{% endif %}
						<img src="{{ asset('bundles/zzchezzzortell/images/' ~ name ~ '.png') }}"
							 alt="{{ ( 'author.skills.alt.' ~ name ) |trans }}"
							 title="{{ ( 'author.skills.alt.' ~ name ) |trans }}"
							 {% if class %}class="{{ class }}"{% endif %} />
						{% if link %}</a>{% endif %}
					{% endautoescape %}{% endmacro %}
					{% import _self as figure %}
					
					<h2>{{ 'author.skills.title' |trans }}</h2>
					<figure>
						<figcaption>{{ 'author.skills.languages' |trans }}</figcaption>
						{{ figure.img('html-css-js') }}
						{{ figure.img('php', 'http://php.net/') }}
					</figure>
					<figure>
						<figcaption>{{ 'author.skills.frameworks' |trans }}</figcaption>
						{{ figure.img('sf', 'http://symfony.com/') }}
					</figure>
					<figure class="smaller" >
						<figcaption>{{ 'author.skills.lib' |trans }}</figcaption>
						{{ figure.img('jquery', 'https://jquery.com/', 'smaller') }}
						<br />
						{{ figure.img('less', 'http://lesscss.org/') }}
						{{ figure.img('bootstrap', 'http://getbootstrap.com/', 'smaller') }}
					</figure>
					<figure class="smaller" >
						<figcaption>{{ 'author.skills.tools' |trans }}</figcaption>
						{{ figure.img('git', 'http://git-scm.com/', 'smaller') }}
						{{ figure.img('composer', 'https://getcomposer.org/') }}
						{{ figure.img('phpunit', 'https://phpunit.de/') }}
					<figure class="smaller" >
						<figcaption>{{ 'author.skills.future' |trans }}</figcaption>
						{{ figure.img('angularjs', 'https://angularjs.org/', 'smaller') }}
					</figure>
				</article>
			</div>
		</section>
		
		<button id="animated_arrow" >
			<i class="fa fa-chevron-down fa-5x" ></i>
		</button>
	{% endspaceless %}</div>
	
	<section id="projects" >
		<h1>{{ 'projects.title' |trans }}</h1>
		
			{% macro description ( project, nb_traits, link, github ) %}
			{% autoescape false %}
				<div class="description_container" >
					<h1>
						{% if link %}
						<a href="{{ link }}" title="{{ ( 'projects.' ~ project ~ '.tooltip' ) |trans }}" >
						{% endif %}
							{{ ( 'projects.' ~ project ~ '.name' ) |trans }}
						{% if link %}</a>{% endif %}
					</h1>
					<p>{{ ( 'projects.' ~ project ~ '.description' ) |trans }}</p>
					{% if nb_traits %}
					<ul>
						{% for i in 1..nb_traits %}
						<li>{{ ( 'projects.' ~ project ~ '.trait' ~ loop.index ) |trans }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					
					<div class="link_out" >
						{% if github %}
							<a href="{{ github }}" title="{{ 'projects.alt.github' |trans }}"
							   target="blank" class="_img" >
								<i class="fa fa-github" ></i>
							</a>
						{% endif %}
						{% if link %}
							<a href="{{ link }}" title="{{ 'projects.alt.visit' |trans }}"
							   target="blank" class="_img" >
								<i class="icon-go_out" ></i>
							</a>
						{% endif %}
					</div>
				</div><!-- @white-space
		 -->{% endautoescape %}{% endmacro %}
			{% import _self as project %}
		
		<section>
			{{ project.description ('chez_zz', 4, null, 'https://github.com/Zzortell/ChezZzortell') }}
		</section>
		<br/>
		<section>
			{{ project.description ('sabrejunior', 3, "http://sabrejunior-france2014.fr/") }}<!-- @white-space
		 --><figure>
				<img src="{{ asset('bundles/zzchezzzortell/images/affiche.png') }}"
					 alt="{{ 'projects.sabrejunior.poster.alt' |trans }}"
					 class="round-corner" />
			</figure>
		</section>
		
		<div class="projects_column_container" >
			<div class="projects_column" class="past" >
				<h2>{{ 'projects.past.title' |trans }}</h2>
				<section>
					{{ project.description (
						'past.tetris', 0, asset('bundles/zzchezzzortell/tetris/index.php')
					) }}
				</section>
				
				<div>
					<h3>
						{{ 'projects.past.archives.title' |trans }}
					</h3>
					<h4>
						<div>{{ 'projects.past.archives.sub_title' |trans }}</div>
					</h4>
					<section>
						{{ project.description ('past.archives.tpe') }}<!-- @white-space
					 --><figure>
							<figcaption>Aperçu</figcaption>
							<img src="{{ asset('bundles/zzchezzzortell/images/tpe_capture1.png') }}"
								 alt="{{ 'projects.past.tetris.survey.alt' |trans }}"
								 class="half" />
							<img src="{{ asset('bundles/zzchezzzortell/images/tpe_capture2.png') }}"
								 alt="{{ 'projects.past.tetris.survey.alt' |trans }}"
								 class="half" />
						</figure>
					</section>
					<section>
						{{ project.description (
							'past.archives.hammer', 0,
							asset('bundles/zzchezzzortell/hammer1st!/index.php')
						) |replace({
							'%hammer1st!/niveaux%': asset('bundles/zzchezzzortell/hammer1st!/niveaux/index.php')
						}) }}
					</section>
				</div>
			</div><!-- @white-space
		 --><div class="projects_column" >
				<h2>{{ 'projects.present.title' |trans }}</h2>
				<h2>{{ 'projects.future.title' |trans }}</h2>
				{{ include ('ZzChezZzortellBundle::in_work.html.twig') }}
			</div>
		</div>
	</section>
	{{ include ('ZzChezZzortellBundle::footer.html.twig') }}
{% endautoescape %}
{% endblock %}
