{% extends 'ZzChezZzortellBundle::layout.html.twig' %}

{% trans_default_domain 'ZzChezZzortellBundle_notebook' %}

{% block title %}{{ 'header.nav.notebook' |trans({}, 'ZzChezZzortellBundle') }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent () }}
	{% stylesheets 'bundles/zzchezzzortell/css/notebook.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
{% autoescape false %}
	{{ include ('ZzChezZzortellBundle::header.html.twig') }}<!-- @whitespace
	--><section id="notebook" >
		<h1>{{ 'title' |trans }}</h1>
		<h2>{{ 'sub_title' |trans }}</h2>
	</section>
{% endautoescape %}
{% endblock %}
