{% extends 'ZzChezZzortellBundle::layout.html.twig' %}

{% trans_default_domain 'ZzChezZzortellBundle_notebook' %}

{% block title %}{{ 'header.nav.notebook' |trans({}, 'ZzChezZzortellBundle') }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent () }}
	{% stylesheets 'bundles/zzchezzzortell/css/notebook.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
{% autoescape false %}
	{{ include ('ZzChezZzortellBundle::header.html.twig') }}<!-- @whitespace
 --><section id="notebook" >
		<h1>{{ 'title' |trans }}</h1>
		<h2>{{ 'sub_title' |trans }}</h2>
		
		{% for note in notes %}
			<article>
				<div class="note_metadata" >
					<div class="keywords" >
						{% for keyword in note.keywords %}
							<a>{{ keyword }}</a>
						{% endfor %}
					</div>
					<div>
						{% macro date ( name, date ) %}
						{% autoescape false %}
							{% set date_tag -%}
							<time datetime="{{ date |date(constant('DateTime::W3C')) }}" >
								{{- date |date('d/m/y') -}}
							</time>
							{%- endset %}
							
							{{ ('note.'~name) |trans({ 
								'%date_tag%': date_tag
							}) }}
						{% endautoescape %}{% endmacro %}
						{% import _self as macros %}
						
						<p class="date" >{{ macros.date ( 'creation_date', note.creationDate ) }}</p>
						{% if note.modifDate %}
							<p class="date" >{{ macros.date ( 'modif_date', note.modifDate ) }}</p>
						{% endif %}
					</div>
				</div>
				{{ note.content }}
			</article>
		{% endfor %}
	</section>
{% endautoescape %}
{% endblock %}
