{% extends 'ZzChezZzortellBundle::layout.html.twig' %}

{% trans_default_domain 'ZzChezZzortellBundle_notebook' %}

{% block title %}{{ 'header.nav.notebook' |trans({}, 'ZzChezZzortellBundle') }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
	{{ parent () }}
	{% stylesheets 'bundles/zzchezzzortell/css/notebook.less' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/darkula.min.css">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('bundles/zzchezzzortell/highlight.js/highlight.pack.js') }}" type="text/javascript" ></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block body %}
{% autoescape false %}
	{{ include ('ZzChezZzortellBundle::header.html.twig') }}<!-- @whitespace
 --><section id="notebook" >
		<h1>{{ 'title' |trans }}</h1>
		<h2>{{ 'sub_title' |trans }}</h2>
		
		{% for note in notes %}
			<article>
				<div class="note_metadata" >
					<div class="tags" >
						{% for tag in note.tags %}
							<a href="{{ path('zz_chez_zz_notebook_tag', {'tag': tag}) }}" >{{ tag }}</a>
						{% endfor %}
					</div>
					<div>
						{% macro date ( name, date ) %}
						{% autoescape false %}
							{% set date_tag -%}
							<time datetime="{{ date |date(constant('DateTime::W3C')) }}" >
								{{- date |date('d/m/y') -}}
							</time>
							{%- endset %}
							
							{{ ('note.'~name) |trans({ 
								'%date_tag%': date_tag
							}) }}
						{% endautoescape %}{% endmacro %}
						{% import _self as macros %}
						
						{% if note.creationDate %}
							<p class="date" >{{ macros.date ( 'creation_date', note.creationDate ) }}</p>
						{% endif %}
						{% if note.modifDate %}
							<p class="date" >{{ macros.date ( 'modif_date', note.modifDate ) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="content" >
					{{ note.content }}
				</div>
			</article>
		{% endfor %}
		{% if page is defined %}
			<ul class="pagination" >
				{% for p in 1..nbPages %}
					<li {% if p == page %}class="active"{% endif %} >
						<a href="{{ path(
							app.request.get('_route'),
							{'page': p, 'tag': app.request.get('tag')}
						) }}">
							{{ p }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>
{% endautoescape %}
{% endblock %}
